@page "/R_Cliente"
@page "/R_Cliente/{ClienteId:int}"
@inject ClientesBLL ClientesBLL
@inject NotificationService notificacion

<PageTitle>Registro Clientes</PageTitle>

<EditForm Model="Cliente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="rz-border-radius-4 shadow d-block p-2 border border-4">
        <div class="rz-border-radius-4 shadow card-header text-center">
            <h3>Registro de Clientes</h3>
        </div>

        <div class="container overflow-hidden">
            <form class="row gy-3">

                <div class="form-row align-items-center">
                    <div class="col-ms">
                        <label>ClienteId</label>
                        <div class="input-group mb-3">
                            <InputNumber @bind-Value="Cliente.ClientesId"
                                         class="rz-border-radius-4 shadow form-control" />
                            <div class="input-group-append">
                                <div class="input-group-append">
                                    <button type="button"
                                            class="rz-border-radius-4 shadow form-control col-4 btn btn-primary  "
                                            @onclick="Buscar">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-ms">
                        <label>Nombre </label>
                        <InputText @bind-Value="Cliente.Nombre" placeholder="Juan Perez"
                                   class="rz-border-radius-4 shadow form-control" />
                        <ValidationMessage For="@(() => Cliente.Nombre)" />
                    </div>


                    <div class="col-ms">
                        <label>Teléfono </label>
                        <InputText @bind-Value="Cliente.Telefono" placeholder="809-584-5843"
                                   class="rz-border-radius-4 shadow form-control" />
                        <ValidationMessage For="@(() => Cliente.Telefono)" />
                    </div>


                    <div class="col-ms">
                        <label>Celular </label>
                        <InputText @bind-Value="Cliente.Celular" placeholder="809-875-9684"
                                   class="rz-border-radius-4 shadow form-control" />
                        <ValidationMessage For="@(() => Cliente.Celular)" />
                    </div>


                    <div class="col-ms">
                        <label>Email </label>
                        <InputText @bind-Value="Cliente.Email" placeholder="example@gmail.com"
                                   class="rz-border-radius-4 shadow form-control" />
                        <ValidationMessage For="@(() => Cliente.Email)" />
                    </div>


                    <div class="col-ms">
                        <label>Rnc </label>
                        <InputText @bind-Value="Cliente.Rnc" placeholder="984231-1"
                                   class="rz-border-radius-4 shadow form-control" />
                        <ValidationMessage For="@(() => Cliente.Rnc)" />
                    </div>


                    <div class="col-ms">
                        <label>Dirección </label>
                        <InputText @bind-Value="Cliente.Direccion" placeholder="Pimentel/#34/Rep.Dom"
                                   class="rz-border-radius-4 shadow form-control" />
                        <ValidationMessage For="@(() => Cliente.Direccion)" />
                    </div>

                </div>
            </form>
            <div class="card-footer">
                <div class="mb-3 text-center" display: inline-block>
                    <button type="button" class="rz-border-radius-4 shadow border border-4 btn btn-primary"
                            @onclick="Nuevo">
                        <i class="oi oi-document" /> Nuevo
                    </button>
                    <button type="submit" class="rz-border-radius-4 shadow border border-4 btn btn-success">
                        <i class="bi bi-save-fill" /> Guardar
                    </button>
                    <button type="button" class="rz-border-radius-4 shadow border border-4 btn btn-danger"
                            @onclick="Eliminar">
                        <i class="oi oi-trash" /> Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>



@code {
    [Parameter]
    public int? ClienteId { get; set; }
    public Clientes Cliente { get; set; } = new Clientes();

    protected override void OnInitialized()
    {
        if (ClienteId.HasValue)
        {
            Cliente.ClientesId = ClienteId.Value;
            Buscar();
        }

    }

    public void Nuevo()
    {
        Cliente = new Clientes();
    }

    public void Guardar()
    {
        bool guardado = ClientesBLL.Guardar(Cliente);
        if (guardado)
        {
            Nuevo();
           // notificacion.ShowNotification("Guardado correctamente.");
        }
        else
        {
           // notificacion.ShowNotification("No fue guardado, intentelo de nuevo.", NotificationSeverity.Error);
        }

    }

    public void Buscar()
    {
        if (Cliente.ClientesId > 0)
        {
            var encontrado = ClientesBLL.Buscar(Cliente.ClientesId);
            if (encontrado != null)
            {
                this.Cliente = encontrado;
               // notificacion.ShowNotification("Registro encontrado", NotificationSeverity.Success);
            }
            else
            {
                //notificacion.ShowNotification("Registro no encontrado", NotificationSeverity.Warning);
            }
        }

    }


    public void Eliminar()
    {
        var elimino = ClientesBLL.Eliminar(Cliente);
        if (elimino)
        {
            Nuevo();
            //notificacion.ShowNotification("Eliminado correctamente.");
        }
        else
        {
            //notificacion.ShowNotification("No fue eliminado. Actualize el navegador y vuelva a intentarlo.",
            //NotificationSeverity.Error);
        }
    }
}